@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: 'Epilogue', sans-serif;
    background-color:hsl(0, 0%, 98%) ;
}

.container {
    /* background-color:hsl(0, 0%, 98%) ; */
    padding-bottom: 100px;
}

button {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    border: 2px solid hsl(0, 0%, 41%) ;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 10px 30px;
    position: relative;
}

.menu {
    display: flex;
}

.features {
    margin-top: 10px;
}

.logo {
    width: 40%;
    margin-right: 50px;
}

a {
    cursor: pointer;
    align-items: center;
    display: flex;
    text-decoration: none;
    margin-right: 30px;
    color:rgba(105, 105, 105,0.7);
    font-weight: bold;
}

a:hover {
    color: black;
    transition: 1.5s;
}

a img {
    width: 24%;
    height: 24%;
}

.login-menu {
    display: flex;
}

.login-menu button {
    width: 50%;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background: none;
    border-color: rgba(105, 105, 105,0.7) ;
    transition: 1.5s;
}

.login-menu button:hover {
    border-color: black;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    /* margin:4rem 0px 0px 2.5rem; */
}

.body img {
    width: 30%;
    height: auto;
    margin-right: 5em;
}

.body h1 {
    font-size: 4em;
    /* line-height: 100px; */
    margin-bottom: 15px;
}


li {
    display: flex;
    list-style: none;
    margin-bottom: 15px;
}

#hide img {
    margin-right: 12px;
    height: 10px;
    width: 10px;
}

.dropdown-block-one {
    cursor: pointer;
    position: absolute;
    
    /* z-index: 10; */
    margin: 10px;
    transition: 200ms ease-in-out;
    transform: translate(-12% ,-13%);
    /* border: 2px solid grey; */
    box-shadow: 0px 0px 10px 1px grey;
    width: 110px;
    display: none;
    border-radius: 10px;
    background-color: white;
    color:hsl(0, 0%, 41%);
    font-size: 11px;  
    opacity: 0;
}

.features:hover #hide {
    display: block;
    opacity: 1;
    animation: shows 1.5s;
    margin-top: 10px;
    top: 35px;
}

@keyframes shows {
    from {opacity: 0;
    top: 50px;}
    to {opacity: 1;
        top: 35px;}
}

.caret {
    margin-left: 20px;
}

.dropdown-block-one ul {
    display: block;
    margin: 10px;
}
.dropdown-block-one ul li {
    width: 150px;
    /* padding: 10px; */
}

.dropdown-block-two {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 14%;
    left: 25%;
    z-index: 10;
    transform: translate(-14% ,-25%);
    border: 2px solid grey;
    width: 10%;
    display: fle;
    justify-content: center;
    align-items: center;
    padding: 17px 25px 12px 25px;
    border-radius: 10px;
    background-color: white;
    color:hsl(0, 0%, 41%) ;  
}

.dropdown li:hover {
    font-weight: 700;

}

.text {
    margin-top: 40px;
    padding-left: 120px;
}

.text p {
    margin-top: 45px;
    font-size:16px ;
    line-height:25px ;
    color:hsl(0, 0%, 41%) ;
}

.text button {
    padding: 15px 18px;
    margin-top: 40px;
    border-radius: 10px;
    /* width: 25%; */
    color: white;
    background-color: black;
    border: none;
    transition: 1s;
}

.dropdown-link {
    position: relative;
}

.marq {
    margin-top: 40px;
}

.marq img {
    height: 20px;
    width: auto;
}

.text button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}